<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

  <!-- Header & Cards -->
  <div class="relative pt-8 pb-12 sm:pt-20 sm:pb-24 px-6 sm:px-16 overflow-hidden">
    <!-- Background - @formatter:off -->
    <svg class="-z-1 absolute inset-0"
         viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
      <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
    <!-- @formatter:on -->
    <!-- Header -->
    <div class="flex flex-col items-center">
      <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
        Bảng giá
      </div>
      <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
        <div class="">Dưới đây là bảng giá dịch vụ của chúng tôi</div>
      </div>
      <!-- Recurring selector -->
      <!--            <div class="flex items-center mt-8 sm:mt-16 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">-->
      <!--                <button-->
      <!--                    class="px-6"-->
      <!--                    [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,-->
      <!--                                'bg-transparent': !yearlyBilling}"-->
      <!--                    mat-flat-button-->
      <!--                    (click)="yearlyBilling = true"-->
      <!--                    disableRipple>-->
      <!--                    Yearly billing-->
      <!--                </button>-->
      <!--                <button-->
      <!--                    class="px-6"-->
      <!--                    [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,-->
      <!--                                'bg-transparent': yearlyBilling}"-->
      <!--                    mat-flat-button-->
      <!--                    (click)="yearlyBilling = false"-->
      <!--                    disableRipple>-->
      <!--                    Monthly billing-->
      <!--                </button>-->
      <!--            </div>-->
    </div>
    <!-- Cards -->
    <div class="flex justify-center mt-10 sm:mt-20">
      <div class="w-full max-w-sm md:max-w-7xl">
        <form [formGroup]="formGroup">
          <div formArrayName="card" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 lg:gap-y-0 md:gap-x-6">
            <!-- Card 1 -->
            <fuse-card *ngFor="let card of cards;let i=index" class="flex-col max-w-sm md:max-w-none p-6 sm:py-12 ring-primary ring-2 overflow-visible sm:px-10">
              <div *ngIf="card.isPopular" class="absolute inset-x-0 -top-4 flex items-center justify-center">
                <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">POPULAR</div>
              </div>
              <div class="text-4xl font-bold tracking-tight leading-tight">Proxy ipv6</div>
              <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Phù hợp reg acc, tăng like, tăng share, facebook, google...</div>
              <div class="w-8 h-1 my-10 rounded bg-accent"></div>
              <div  class="flex flex-col mt-2 text-secondary">
                <form [formGroupName]="i">
                  <mat-form-field class="fuse-mat-no-subscript w-full my-2">
                    <mat-label>Country</mat-label>
                    <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:location-marker'"
                      matPrefix></mat-icon>
                    <mat-select formControlName="country">
                      <mat-option [value]="'usa'">United States</mat-option>
                      <mat-option [value]="'canada'">Canada</mat-option>
                      <mat-option [value]="'mexico'">Mexico</mat-option>
                      <mat-option [value]="'france'">France</mat-option>
                      <mat-option [value]="'germany'">Germany</mat-option>
                      <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="w-full  my-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                      <mat-label>Số lượng</mat-label>
                      <input
                        formControlName="amount"
                        matInput>
                    </mat-form-field>
                  </div>
                  <mat-form-field class="fuse-mat-no-subscript w-full my-2">
                    <mat-label>Period</mat-label>
                    <mat-select formControlName="period">
                      <mat-option [value]="'1day'">1 ngày</mat-option>
                      <mat-option [value]="'3days'">3 ngày</mat-option>
                      <mat-option [value]="'1month'">1 tháng</mat-option>
                      <mat-option [value]="'3months'">3 tháng</mat-option>
                      <mat-option [value]="'year'">1 năm</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="fuse-mat-no-subscript my-2 w-full">
                    <mat-label>Loại</mat-label>
                    <mat-select formControlName="type">
                      <mat-option [value]="'http'">HTTP/SOCKS5</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
              <div class="flex items-baseline whitespace-nowrap mt-4">
                <div class="mr-2 text-2xl">Giá:</div>
                <div class="text-[20px] font-semibold leading-tight tracking-tight">
                  <ng-container>200.000đ</ng-container>
                </div>
              </div>
              <!-- Price details -->

              <!-- CTA -->
              <button
                class="fuse-mat-button-large mt-10"
                mat-stroked-button
                [color]="'primary'">
                Mua ngay
              </button>
            </fuse-card>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
