<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Card</div>
    <button
      mat-icon-button
      (click)="matDialogRef.close()"
      [tabIndex]="-1">
      <mat-icon
        class="text-current"
        [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Card form -->
  <form
    class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
    [formGroup]="createForm" (submit)="create()">

    <!-- Title -->
    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>IP</mat-label>
      <input
        matInput
        [formControlName]="'ip'"
        />
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>port</mat-label>
      <input
        matInput
        [formControlName]="'port'"
      />
    </mat-form-field>
    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>username</mat-label>
      <input
        matInput
        [formControlName]="'username'"
      />
    </mat-form-field>
    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>password</mat-label>
      <input
        matInput
        [formControlName]="'password'"
      />
    </mat-form-field>

    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>type</mat-label>
      <input
        matInput
        [formControlName]="'type'"
      />
    </mat-form-field>

    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>country</mat-label>
      <input
        matInput
        [formControlName]="'country'"
      />
    </mat-form-field>

    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>url</mat-label>
      <input
        matInput
        [formControlName]="'url'"
      />
    </mat-form-field>

    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>ipv6</mat-label>
      <input
        matInput
        [formControlName]="'ipv6'"
      />
    </mat-form-field>

    <mat-form-field class="fuse-mat-input fuse-mat-no-subscript w-full">
      <mat-label>ipv4</mat-label>
      <input
        matInput
        [formControlName]="'ipv4'"
      />
    </mat-form-field>
    <!-- Du date -->
    <div class="text-right">
      <button class="text-white bg-primary" [disabled]="loading" mat-flat-button type="submit">Tạo</button>
    </div>
  </form>
</div>
